.profileDetails {
  margin: auto;
  margin-top: 10px;
  width: 90%;
  
  color: white;
  /* margin-right: 2.5%; */
  /* margin-left: 2.5%; */
  display: flex;
  background: rgba(255, 255, 255, 0.1);
}

.left {
  padding-top: 15px;
  display: flex;
  justify-content: center;
  width: 40%;
  flex-direction: column;
}

.right {
  padding-top: 15px;
  width: 60%;
  background-color: #1F1B24;
  padding-left: 15px;
}

.rightTop {
  padding-right: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px ;
}
